{% extends 'blog/base.html' %}
{% block title %}Task List{% endblock %}

{% block content %}
<h1>Task List</h1>
<ul>
    {% for task in tasks %}
        
            <strong>Title:</strong> <a href="{% url 'task_detail' task.pk %}">{{ task.title }}</a><br>
            <strong>Priority:</strong> {{ task.get_priority_choice_display }}<br>
            <strong>Status:</strong> {{ task.get_status_choice_display }}
     
        <hr>
    {% empty %}
        <li>No tasks found</li>
    {% endfor %}
</ul>
{% endblock %}